autocommand==2.2.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
docopt==0.6.2
future==0.18.2
idna==2.10
importlib-resources==3.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mintapi==1.44
mock==4.0.2
numpy==1.19.2
oathtool==2.2.0
pandas==1.1.2
path==15.0.0
pipreqs==0.4.10
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-file==1.5.1
selenium==3.141.0
selenium-requests==1.3
SQLAlchemy==1.3.19
tldextract==2.2.3
urllib3==1.25.10
Werkzeug==1.0.1
xmltodict==0.12.0
yarg==0.1.9
