autocommand==2.2.1
certifi==2021.10.8
filelock==3.6.0
idna==3.3
lxml==4.8.0
mintapi==2.7
numpy==1.22.3
oathtool==2.3.1
pandas==1.4.1
path==16.4.0
psycopg2==2.9.3
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-file==1.5.1
selenium==4.3.0
selenium-requests==2.0.0
six==1.16.0
SQLAlchemy==1.4.32
tldextract==3.2.0
urllib3==1.26.8
xmltodict==0.12.0
